#content {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#board {
  width: 80vh;
  max-width: 95%;
  aspect-ratio: 1/1;
  background-color: gray;
  display: flex;
  flex-wrap: wrap;
}

.square {
  width: calc(100% / 8);
  height: calc(100% / 8);
  outline: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 0;
}

.square.black {
  background-color: rgb(224, 224, 224);
  color: rgba(255, 255, 255, 0.4);
}

.square.white {
  background-color: white;
  color: rgba(0, 0, 0, 0.4);
}

.current {
  background-color: red;
}

.selectable {
  transition: all 0.2s;
}

.square.black.selectable {
  background-image: linear-gradient(rgba(0, 0, 255, 0.1), rgba(0, 0, 255, 0.1));
  cursor: pointer;
}
.square.white.selectable {
  background-image: linear-gradient(rgba(0, 0, 255, 0.1), rgba(0, 0, 255, 0.1));
  cursor: pointer;
}

.piece {
  font-size: 5px;
  width: 100%;
  height: 100%;
  background: no-repeat center;
  outline: 0px solid black;
  border: none;
  transition: all 0.2s;
  cursor: pointer;
  background-color: transparent;
  background-size: contain;
}

.piece:hover {
  background-color: orange;
}

.piece:focus {
  z-index: 99;
  outline: 2px solid blue;
}
